.generic-card {
    width: 70%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 1.5vw;

    border-radius: 0.347vw;
}

.generic-card .generic-card-right {
    display: flex;
}

.generic-card .generic-card-right div {
    cursor: pointer;
}
